{% extends 'base.html.twig' %}
{% block title %}Error{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('/assets/styles/error.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="content-container">
        <label class="error-code">{{ status_code | default('') }}</label>
        <label class="error-label">{{ status_text | default('Ошибка')}}</label>
        <br/>
        <a href="/">Домой</a>
    </div>

{% endblock %}